# --- IDE & Compilateurs ---
.vscode/
.vs/
out/
build/
bin/
obj/
*.sln
*.vcxproj*
*.user

# --- CMake ---
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
cmake_install.cmake
install/
_deps/
build.ninja
.ninja_log

# --- Binaires et Librairies ---
*.exe
*.dll
*.so
*.dylib
*.lib
*.pdb
*.exp
*.ilk

# Exception : les .lib dans libs/ doivent etre trackes (SFML, etc.)
!libs/**/*.lib

# --- Système & Logs ---
.DS_Store
Thumbs.db
*.log
*.tmp

# --- Dossiers précieux ---
# On ignore tout par défaut si on veut être strict, 
# mais ton approche inclusive est plus simple pour débuter :
!src/
!include/
!assets/
!libs/